element.style {
   border: solid;
}
element.style {
   border: solid 1px;
}
element.style {
   border: solid 2px white;
}
body {
    color: white;
    background: black;
}

header {
    border: solid 2px white;
}
/* código omitido */

header {
    border: solid 2px rgb(42, 122, 228);
}
/* código omitido */

header {
    border-bottom: solid 2px rgb(42, 122, 228);
}
body {
    color: white;
    background: black;
    margin: 0px;
}

/* código omitido */
/* código omitido */

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    margin: 20px;
}
/* código omitido */

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
}
/* código omitido */

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
body {
    color: white;
    background: black;
}
header {
}
header {
    border: solid 2px white;
}
header {
    border: solid 2px rgb(42, 122, 228);
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
}
body {
    color: white;
    background: black;
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
   element.style {
    background: red;
}
section {
    display: block;
    unicode-bidi: isolate;
}
    color: rgb(42, 122, 228)

}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(184,156,213);
}
element.style {
    margin: 80px;
}
section {
    background: rgb(184, 156, 213);
}

section {
    display: block;
    unicode-bidi: isolate;
}
element.style {
    padding: 80px;
}
section {
    background: rgb(184, 156, 213);
}

section {
    display: block;
    unicode-bidi: isolate;
}
element.style {
    padding-bottom: 80px;
}
section {
    background: rgb(184, 156, 213);
}

section {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}
element.style {
    padding-bottom: 80px;
}
section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

section {
    ~~display: block;~~
    unicode-bidi: isolate;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
/* código omitido */

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}
